@charset "utf-8"

body { 
	background:#fff;
	color:#555; 
	font-size:14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
 }

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,
/*h4,h5,h6,*/
/*pre,code,*/
form,fieldset,
/*legend,*/
input,button,textarea,p,blockquote,th,td{
  	margin:0; padding:0; 
}

table{
	border-collapse:collapse;
	border-spacing:0
} 

em, strong, b, u,i {
	 font-style:normal; 
	 font-weight:normal;
}

ol,ul,li 
{ 
	list-style:none; 
}

h1, h2, h3{ 
	font-weight:normal; font-size:100%;
}

input, textarea, select{ 
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-size: 100%; /*to enable resizing for IE*/
}

img {
	border: 0 none; /*加上0对浏览器的兼容性是最好的*/
}

a {
	text-decoration: none;
}

input {
	border: none;
}