/*Reset Style*/
html {
    /* font-size 1rem = 10px on default browser settings */
    font-size: 62.5%;
}

body {
    /*iOS 4.0+ 使用英文字体 Helvetica Neue，之前的iOS版本降级使用 Helvetica。中文字体设置为华文黑体STHeiTi*/
    font: 16px/1.5 "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    font-size: 1.6rem;
    background: #f5f5f5;
}

html, body {
    /* 禁止选中文本（如无文本选中需求，此为必选项） */
    -webkit-user-select: none;
    user-select: none;
}

body, a, h1, h2, h3, h4, h5, h6, ol, ul, li, p, img, div {
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-size: 2rem;
}

* {
    box-sizing: border-box;
}

ol, ul, li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

img {
    /*display: inline-block;*/
    /*改为block去掉空白符对父容器的影响*/
    display: block;
    border: 0;
}

a, img {
    /* 禁止长按链接与图片弹出菜单 */
    -webkit-touch-callout: none;
}

/*Common Style*/
.public-header .header-title {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;

    padding: 1.5rem;
    /*height: 11.6rem;*/

    background: #91d4da;
    color: #fff;
}

.public-header .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.back-btn {
    color: #fff;
}

/*arrow style*/
/*.arrow {*/
/*position: relative;*/
/*padding: 0rem 1.5rem;*/
/*}*/

/*.arrow:before, .arrow:after {*/
/*content: "";*/
/*display: block;*/
/*position: absolute;*/

/*height: 0.2rem;*/
/*left: 0;*/
/*width: 1rem;*/

/*background: #fff;*/
/*-webkit-border-radius: 0.2rem;*/
/*border-radius: 0.2rem;*/
/*-webkit-transform: rotate(-45deg);*/
/*transform: rotate(-45deg);*/
/*}*/

/*.arrow:before {*/
/*top: 0.5rem;*/
/*}*/

/*.arrow:after {*/
/*bottom: 0.5rem;*/
/*-webkit-transform: rotate(45deg);*/
/*transform: rotate(45deg);*/
/*}*/
.arrow {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-left: 0.2em solid #fff;
    border-top: 0.2em solid #fff;
    border-radius: 1px;
    transform: rotate(-45deg);
}

/*header nav*/

.header-nav {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    -webkit-align-items: center;
            align-items: center;

    background: #fff;
}

/*成比例拉伸项目*/
.header-nav .item {
    -webkit-flex-grow: 1;
            flex-grow: 1;
    text-align: center;
}

.header-nav .item-txt-link {
    position: relative;
    padding: 1.5rem;
    color: #686868;
}

/*underline*/
.header-nav .item-txt-link:hover:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;

    /*width: 8rem;*/
    width: 100%;
    transform: translateX(-50%);
    border-bottom: 0.5rem solid #90d3d9;
}

/*Banner*/

.index-banner {
    /*min-height: 22.4rem;*/
    /*width: 100%;*/
    /*background: url(../images/banner.jpg) no-repeat;*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
}

.index-banner img {
    width: 100%;
}

/*Label groups*/
.label-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;

    background: #fff;
}

.label-groups {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    -webkit-align-items: center;
            align-items: center;

    /*设置了内边距百分比后，不额外设置高度了*/ /*height: 15rem;*/ padding-bottom: 10%;
    padding-top: 10%;
    border-bottom: .2rem solid #dedede;
}

.label-groups .item {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.label-groups .item-link {
    /*height: 6rem;*/
    /*width: 5rem;*/
    text-align: center;
    /*background: url(../images/icon-label.png) no-repeat;*/
    /*background-size: contain;缩放背景图片以完全装入背景区，最终呈现为圆形*/
}

.label-groups .item-img-link {
    display: inline-block;

    /*fluid image*/
    width: 70%;
    padding-bottom: 1rem;
}

.label-groups .item-txt-link {
    color: #343434;
}

/*Cols*/

.cols {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
    overflow: hidden;

    min-height: 18rem;
    padding-top: 10%;
    padding-bottom: 10%;

    background: #fff;
}

.cols .col {
    -webkit-flex-grow: 1;
            flex-grow: 1;
    text-align: center;
}

/*line*/
.cols .col + .col {
    border-left: .2rem solid #e5e5e5;
}

.cols .col-img {
    /*for text-align: center*/
    display: inline-block;
    /*max-width: 11rem;*/
    /*需要考虑文字占据它的父容器*/
    width: 70%;
}

.cols .col-title-large {
    font-size: 2.2rem;
    color: #2f2f2f;
}

.cols .col-title--small {
    font-size: 1.6rem;
    color: #5a5a5a;
}

/*END Cols*/

/* Modal */
.mod {
    /*height: 30rem;*/
    margin-top: 1.5rem;
    padding: 1rem;
    background: #fff;
    color: #646464;
}

.mod-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: .2rem solid #ececec;
}

.mod-header .mod-title {
    font-size: 2.2rem;
    color: #646464;
}

.mod-body {
    /*height: 11rem;*/
    padding-top: 2rem;
}

/*image on the left*/
.mod-body .mod-img {
    /*max-width: 10rem;*/
    width: 100%;
}

.mod-body .card + .card {
    margin-top: 1rem;
}

.media {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
}

.media-object {
    /*scale*/
    width: 35%;
    height: 45%;
}

/*text on the right*/
.mod .media-body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
    /*上下左右两边排列*/
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-content: space-between;
            align-content: space-between;
    /*这里也可以使用width: 100%代替伸缩，当手机横屏的时候自动扩充*/
    /*flex-grow: 1;*/
    width: 65%;
    margin-left: 1rem;
}

.mod .media-body .txt {
    display: flex;
    display: -webkit-flex;
    /*flex-grow: 1;*/
    /*居中文本*/
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;

    /*padding: 1.2rem 0.75rem;*/
    height: 45%;
    width: 48%;

    background: #f8f8f8;
    color: #646464;
}

/*END Modal*/

/*Article*/
.article {
    margin-bottom: .5rem;
    padding: 1rem;

    background: #fff;
}

/*覆盖前面的flex布局方向*/
.article .media-body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-justify-content: space-between;
            justify-content: space-between;

    width: 65%;
    margin-left: 1rem;
}

.article .article-img {
    /*width: 10rem;*/
    width: 100%;
}

.article .article-title {
    font-size: 2rem;
    color: #656565;
}

.article .article-date {
    color: #c4c4c4;
}

/*the third article*/
.article .gallery {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;

    margin-top: 1rem;
    margin-bottom: 1rem;

    /*清除空白间距*/
    /*font-size: 0;*/
}

.article .gallery .item {
    /*width: 33.3%;*/
    /*flex-grow针对felx-item项目本身包含有内容，不会默认进行拉伸。需要显示设置*/
    -webkit-flex-grow: 1;
            flex-grow: 1;
}

.article .gallery .article-img {
    width: 100%;
}

/*@media (max-device-width: 30rem) {*/
/*.media-body .txt {*/
/*padding: 1.2rem 0.65rem;*/
/*}*/
/*}*/

/*@media (min-device-width: 31rem) {*/
/*.media-body .txt {*/
/*padding: 1.2rem 1.65rem;*/
/*}*/
/*}*/

/*END Article*/








